[Unit]
Description=Immutablue Weekly Scripts For Users

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator weekly

[Install]
WantedBy=default.target

