[Unit]
Description=Immutablue Monthly Scripts For Users

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator monthly

[Install]
WantedBy=default.target

