[Unit]
Description=Immutablue Hourly Scripts For Users

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator hourly

[Install]
WantedBy=default.target

