[Unit]
Description=Immutablue On Boot Scripts

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator on_boot
ExecStop=/usr/bin/immutablue-script-orchestrator on_shutdown

[Install]
WantedBy=multi-user.target

