[Unit]
Description=Immutablue Daily Scripts

[Service]
Type=simple
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator daily

[Install]
WantedBy=multi-user.target

