[Unit]
Description=Immutablue Monthly Timer

[Timer]
OnCalendar=*-*-01 00:00:00
AccuracySec=2h
RandomizedDelaySec=1h
Persistent=true


[Install]
WantedBy=timers.target

