[Unit]
Description=Immutablue Hourly Scripts

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/bin/immutablue-script-orchestrator hourly

[Install]
WantedBy=multi-user.target

