[Unit]
Description=Activate the NVIDIA driver for this GPU
Documentation=man:systemd-sysext(8)
ConditionPathExists=/usr/lib/immutablue/nvidia/open/manifest.json
ConditionPathExists=!/etc/initrd-release
ConditionPathExists=!/.autorelabel
DefaultDependencies=no
After=local-fs.target systemd-sysext.service systemd-udev-trigger.service ldconfig.service
Before=sysinit.target display-manager.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/immutablue-nvidia-setup --activate
TimeoutStartSec=120

[Install]
WantedBy=sysinit.target
