<service-group>
  <name replace-wildcards="yes">Kuberblue Worker on %h</name>
  <service>
    <type>_kuberblue-worker._tcp</type>
    <port>10250</port>
    <txt-record>version=1.0</txt-record>
    <txt-record>cluster-id=default</txt-record>
  </service>
</service-group>